@import "tailwindcss";
@theme inline {
  --font-sans: var(--font-geist-sans);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
}

body {
  @apply bg-white text-black antialiased;
}